@model IEnumerable<TradeUnionCommittee.BLL.DTO.JournalDTO>
@{
    ViewData["Title"] = "Index";
}

<section class="add-user container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12 add-user_block">

            <div class="row align-items-center mt-3">
                <div class="col-md-10">
                    <h1>Журнал дій користувачів</h1>
                </div>
            </div>
            <hr>
            <form asp-action="Filter">

                <div class="row">
                    <div class="form-group col-lg-4 col-xl-3">
                        <label>Email</label>
                        <select asp-items="@ViewBag.Emails" name="email" class="custom-select" required=""></select>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4 col-xl-3">
                        <label>Дата з</label>
                        <input type="date" value="" name="startDate" class="form-control" required="">
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4 col-xl-3">
                        <label>Дата по</label>
                        <input type="date" value="" name="endDate" class="form-control" required="">
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4 col-xl-3">
                        <label>&nbsp;</label>
                        <input type="submit" value="Знайти" class="btn btn-success btn-default form-control" />
                    </div>
                </div>

            </form>

            @if (@Model != null)
            {
                <hr>
                <div class="row main-block">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Дата та час
                                </th>
                                <th>
                                    Операція
                                </th>
                                <th>
                                    Дані
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.EmailUser
                                    </td>
                                    <td>
                                        @item.DateTime.ToString("F", System.Globalization.CultureInfo.GetCultureInfo("uk-UA"))
                                    </td>
                                    <td>
                                        @item.Operation
                                    </td>
                                    <td>
                                        @item.Tables
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }

        </div>
    </div>
</section>