@model TradeUnionCommittee.BLL.DTO.GeneralInfoEmployeeDTO
@{
    ViewData["Title"] = "Delete";
}

<section class="add-user container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12 add-user_block">

            <div class="row align-items-center mt-3">
                <div class="col-md-10">
                    <h1>Видалення члена профспілки</h1>
                    <h3 class="text-muted">Ви впевнені, що хочете видалити члена профспілки?</h3>
                </div>
            </div>
            <hr>
            <form asp-action="Delete">

                <input type="hidden" asp-for="HashIdEmployee" />

                <dl class="row">
                    <dt class="col-md-3">
                        <a>Унікальний номер (ID)</a>
                    </dt>
                    <dd class="col-md-5">
                        <p class="lead" style="font-size: 15px;">@Model.HashIdEmployee</p>
                    </dd>
                </dl>

                <dl class="row">
                    <dt class="col-md-3">
                        <a>Прiзвище</a>
                    </dt>
                    <dd class="col-md-5">
                        <p class="lead" style="font-size: 15px;">@Model.FirstName</p>
                    </dd>
                </dl>

                <dl class="row">
                    <dt class="col-md-3">
                        <a>Iм'я</a>
                    </dt>
                    <dd class="col-md-5">
                        <p class="lead" style="font-size: 15px;">@Model.SecondName</p>
                    </dd>
                </dl>

                @if (Model.Patronymic != null)
                {
                    <dl class="row">
                        <dt class="col-md-3">
                            <a>По батьковi</a>
                        </dt>
                        <dd class="col-md-5">
                            <p class="lead" style="font-size: 15px;">@Model.Patronymic</p>
                        </dd>
                    </dl>
                }

                <dl class="row">
                    <dt class="col-md-3">
                        <a>Дата народження</a>
                    </dt>
                    <dd class="col-md-5">
                        <p class="lead" style="font-size: 15px;">@Model.BirthDate.ToString("dd.MM.yyyy")</p>
                    </dd>
                </dl>

                <div class="row justify-content-between">
                    <div class="form-group col-lg-3">
                        <div>
                            <a asp-action="Index" asp-controller="Employee" asp-route-id="@Model.HashIdEmployee">Повернутися</a>
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <input type="submit" value="Видалити" class="btn btn-danger" />
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>

