@model TradeUnionCommittee.ViewModels.ViewModels.UpdateEmployeeViewModel
@{
    ViewData["Title"] = "Update";
}

<section class="add-user container-fluid">
<div class="row justify-content-center">
<div class="col-md-12 add-user_block">

<div class="row align-items-center mt-3">
    <div class="col-md-10">
        <h3>Редагування загальної інформації про члена профспілки</h3>
    </div>
</div>
<hr>
<form asp-action="Update">

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<input asp-for="HashIdEmployee" type="hidden" />
<input asp-for="RowVersion" type="hidden" />

<div class="row">
    <div class="form-group col-md-4">
        <label asp-for="FirstName">Прiзвище</label>
        <input asp-for="FirstName" type="text" class="form-control" placeholder="Іванов">
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="SecondName">Iм'я</label>
        <input asp-for="SecondName" type="text" class="form-control" placeholder="Іван">
        <span asp-validation-for="SecondName" class="text-danger"></span>
    </div>

    <div class="form-group col-md-4">
        <label asp-for="Patronymic">По батьковi</label>
        <input asp-for="Patronymic" type="text" class="form-control" placeholder="Іванович">
    </div>
</div>

<div class="row">
    <div class="form-group col-md-4">
        <label>Стать</label>
        <div class="">
            @if (Model.Sex == "Чоловіча")
            {
                <label class="custom-control custom-radio">
                    <input asp-for="Sex" value="Male" type="radio" checked class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Чоловіча</span>
                </label>

                <label class="custom-control custom-radio">
                    <input asp-for="Sex" value="Female" type="radio" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Жіноча</span>
                </label>
            }

            @if (Model.Sex == "Жіноча")
            {
                <label class="custom-control custom-radio">
                    <input asp-for="Sex" value="Male" type="radio" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Чоловіча</span>
                </label>

                <label class="custom-control custom-radio">
                    <input asp-for="Sex" value="Female" type="radio" checked class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Жіноча</span>
                </label>
            }

            <span asp-validation-for="Sex" class="text-danger"></span>
        </div>
    </div>
</div>

<div class="row">

    <div class="form-group col-md-4">
        <label asp-for="BirthDate">Дата народження</label>
        <input asp-for="BirthDate" type="date" class="form-control">
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>

</div>

<div class="row">
    <div class="form-group col-md-4">
        <label asp-for="IdentificationСode">Iдентифiкацiйний код</label>
        <input asp-for="IdentificationСode" type="text" class="form-control" placeholder="111111111111">
    </div>

    <div class="form-group col-md-4">
        <label asp-for="MechnikovCard">MECHNIKOV TEACHER CARD</label>
        <input asp-for="MechnikovCard" type="text" class="form-control" placeholder="1-111111-111111">
    </div>
</div>

<div class="row">
    <div class="form-group col-lg-6 col-xl-4">
        <label asp-for="MobilePhone">Мобiльний номер</label>
        <input asp-for="MobilePhone" type="text" class="form-control" placeholder="+38 (000) 000-00-00">
    </div>
    <div class="form-group col-lg-6 col-xl-4">
        <label asp-for="CityPhone">Мicкий номер</label>
        <input asp-for="CityPhone" type="text" class="form-control">
        <span asp-validation-for="CityPhone" class="text-danger"></span>
    </div>
</div>

<hr>

<fieldset class="form-group">
    <legend>Робота в ОНУ</legend>
    <div class="row">
        <div class="form-group col-lg-6 col-xl-4">
            <label asp-for="BasicProfession">Основна професiя</label>
            <input asp-for="BasicProfession" type="text" class="form-control" placeholder="Математик, програміст">
            <span asp-validation-for="BasicProfession" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-6 col-xl-4">
            <label asp-for="StartYearWork">Рiк початку роботи в ОНУ</label>
            <input asp-for="StartYearWork" type="text" class="form-control" placeholder="1990">
            <span asp-validation-for="StartYearWork" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-6 col-xl-4">
            <label asp-for="EndYearWork">Рiк завершення роботи в ОНУ</label>
            <input asp-for="EndYearWork" type="text" class="form-control" placeholder="2040">
            <span asp-validation-for="EndYearWork" class="text-danger"></span>
        </div>
    </div>
</fieldset>

<hr>

<fieldset class="form-group">
    <legend>Робота в ППО</legend>
    <div class="row">
        <div class="form-group col-lg-6 col-xl-4">
            <label asp-for="StartDateTradeUnion">Дата вступу в ППО</label>
            <input asp-for="StartDateTradeUnion" type="date" class="form-control">
            <span asp-validation-for="StartDateTradeUnion" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-6 col-xl-4">
            <label asp-for="EndDateTradeUnion">Дата виходу з ППО</label>
            <input asp-for="EndDateTradeUnion" type="date" class="form-control">
            <span asp-validation-for="EndDateTradeUnion" class="text-danger"></span>
        </div>
    </div>
</fieldset>

<hr>

<fieldset class="form-group">
    <legend>Освіта</legend>
    <div class="row">
        <div class="form-group col-lg-6 col-xl-4">
            <label asp-for="LevelEducation">Рівень освіти</label>
            <select asp-for="LevelEducation" id="editable-select-LevelEducation" class="custom-select" style="width: 100%" asp-items="@ViewBag.LevelEducation"></select>
            <span asp-validation-for="LevelEducation" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-6 col-xl-4">
            <label asp-for="NameInstitution">Місце навцання</label>
            <select asp-for="NameInstitution" id="editable-select-Study" class="custom-select" asp-items="@ViewBag.Study"></select>
            <span asp-validation-for="NameInstitution" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-6 col-xl-4">
            <label asp-for="YearReceiving">Рік отримання</label>
            <input asp-for="YearReceiving" type="text" class="form-control" placeholder="1990">
            <span asp-validation-for="YearReceiving" class="text-danger"></span>
        </div>
    </div>
</fieldset>

<hr>

<fieldset class="form-group">
    <legend>Кваліфікація</legend>
    <div class="row">
        <div class="form-group col-lg-6 col-xl-4">
            <label asp-for="ScientificDegree" class="control-label">Учений ступiнь</label>
            <select asp-for="ScientificDegree" id="editable-select-ScientifickDegree" asp-items="@ViewBag.AcademicDegree" class="custom-select"></select>
            <span asp-validation-for="ScientificDegree" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-6 col-xl-4">
            <label asp-for="ScientificTitle" class="control-label">Наукове звання</label>
            <select asp-for="ScientificTitle" id="editable-select-ScientifickTitle" asp-items="@ViewBag.ScientificTitle" class="custom-select" style="width: 100%"></select>
            <span asp-validation-for="ScientificTitle" class="text-danger"></span>
        </div>
    </div>
</fieldset>

<hr>

<fieldset class="form-group">
    <legend>Примiтка</legend>
    <div class="row">
        <div class="form-group col-lg-12">
            <textarea asp-for="Note" class="form-control" rows="6"></textarea>
        </div>
    </div>
</fieldset>

<div class="row justify-content-between">
    <div class="form-group col-lg-3">
        <div>
            <a asp-action="Index" asp-controller="Employee" asp-route-id="@Model.HashIdEmployee">Повернутися</a>
        </div>
    </div>
    <div class="col-md-6 text-right">
        <input type="submit" value="Редагувати" class="btn btn-success" />
    </div>
</div>

</form>
</div>
</div>

</section>