@model IEnumerable<TradeUnionCommittee.BLL.DTO.Family.TourFamilyDTO>
@{
    ViewData["Title"] = "Index";
}

<section class="add-user container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12 add-user_block">
            <div class="row">
                <a asp-controller="Family" asp-action="Index" asp-route-id="@ViewData["HashIdEmployee"]" class="back-link">Повернутися</a>
                <hr />
                <div class="form-group">
                    <a asp-action="Create" asp-route-id="@ViewData["HashIdFamily"]" class="btn btn-success">Додати путівку</a>
                </div>
            </div>
            <div class="row main-block">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Назва путівки
                            </th>
                            <th>
                                Розмір дотації
                            </th>
                            <th>
                                Знижка
                            </th>
                            <th>
                                Дата початку
                            </th>
                            <th>
                                Дата закінчення
                            </th>
                            <th>
                                Кількість днів
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (TempData["ErrorsList"] == null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.NameEvent
                                    </td>
                                    <td>
                                        @item.Amount.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("uk-UA"))
                                    </td>
                                    <td>
                                        @item.Discount.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("uk-UA"))
                                    </td>
                                    <td>
                                        @item.StartDate.ToString("dd.MM.yyyy")
                                    </td>
                                    <td>
                                        @item.EndDate.ToString("dd.MM.yyyy")
                                    </td>
                                    <td>
                                        @((item.EndDate - item.StartDate).Days)
                                    </td>

                                    <td class="text-right">
                                        <div class="btn-group">
                                            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"></button>
                                            <div class="dropdown-menu">

                                                <a class="dropdown-item" asp-action="Update" asp-route-id="@item.HashId">Редагувати</a>

                                                @if (User.IsInRole("Admin"))
                                                {
                                                    <a class="dropdown-item delete"
                                                       href=""
                                                       data-controller="TourFamily"
                                                       data-action="Delete"
                                                       data-id="@item.HashId"
                                                       data-body-message="Ви впевнені, що хочете видалити путівку?">Видалити</a>
                                                }

                                            </div>
                                        </div>
                                    </td>

                                </tr>
                            }
                        }
                        else
                        {
                            await Html.RenderPartialAsync("_Errors", TempData["ErrorsList"]);
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


@if (User.IsInRole("Admin"))
{
    @section Scripts
    {
        <environment include="Development">
            <script src="~/js/delete.js"></script>
        </environment>

        <environment exclude="Development">
            <script src="~/js/delete.min.js" asp-append-version="true"></script>
        </environment>
    }
}