@model IEnumerable<TradeUnionCommittee.BLL.DTO.SubdivisionDTO>
@{
    ViewData["Title"] = "Details";
}

<section class="add-user container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12 add-user_block">
            <div class="row">
                <a asp-controller="Subdivision" asp-action="Index">Повернутися</a>
                <hr/>
            </div>
            <div class="row main-block">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            Назва
                        </th>

                        <th>
                            Aбревіатура
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Name
                            </td>

                            <td>
                                @item.Abbreviation
                            </td>
                            
                            <td class="text-right">
                                <div class="btn-group">
                                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="Update" asp-route-id="@item.Id">Редагувати назву</a>
                                        <a class="dropdown-item" asp-action="UpdateAbbreviation" asp-route-id="@item.Id">Редагувати абревіатуру</a>
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                                        }
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>