@model IEnumerable<TradeUnionCommittee.BLL.DTO.SubdivisionDTO>
@{
    ViewData["Title"] = "Details";
}


<div class="row">
    <a asp-controller="Subdivision" asp-action="Index">Повернутися до списку підрозділів</a>
    <hr />
    <div class="form-group">
            <a asp-action="CreateSubordinate" asp-route-id="@ViewData["IdMainSubdivision"]" class="btn btn-success">Додати підрозділ</a>
            <a asp-action="Restructuring" asp-route-id="@ViewData["IdMainSubdivision"]" class="btn btn-success">Перенести підрозділ в інший структурний підрозділ</a>
        </div>
</div>

<div class="row main-block">

    <table class="table">
        <thead>
            <tr>
                <th>
                    @ViewData["NameMainSubdivision"]
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeptName)
                    </td>

                    <td class="text-right">
                        <a asp-action="Update" asp-route-id="@item.Id">Редагувати</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
