@{
    ViewData["Title"] = "Dashboard";
}


<section class="add-user container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12 add-user_block">
            <h2 class="mt-3">Аналітика</h2>
            <ul class="nav nav-pills mt-3 mb-3" id="pills-tab" role="tablist">

                <li class="nav-item">
                    <a class="nav-link active" id="pills-profile-tab1" data-toggle="pill" href="#pills-profile1" role="tab" aria-controls="pills-profile" aria-selected="true">Task #1.1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab2" data-toggle="pill" href="#pills-profile2" role="tab" aria-controls="pills-profile" aria-selected="false">Task #1.2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab3" data-toggle="pill" href="#pills-profile3" role="tab" aria-controls="pills-profile" aria-selected="false">Task #1.3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab4" data-toggle="pill" href="#pills-profile4" role="tab" aria-controls="pills-profile" aria-selected="false">Task #1.4</a>
                </li>

                @*-------------------------------------------------------------------------------------------------------------*@

                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab-pie" data-toggle="pill" href="#pills-profile-pie" role="tab" aria-controls="pills-profile" aria-selected="false">Pie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab-bar" data-toggle="pill" href="#pills-profile-bar" role="tab" aria-controls="pills-profile" aria-selected="false">Bar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab-area" data-toggle="pill" href="#pills-profile-area" role="tab" aria-controls="pills-profile" aria-selected="false">Area</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab-radar" data-toggle="pill" href="#pills-profile-radar" role="tab" aria-controls="pills-profile" aria-selected="false">Radar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab-line" data-toggle="pill" href="#pills-profile-line" role="tab" aria-controls="pills-profile" aria-selected="false">Line</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab-bubble" data-toggle="pill" href="#pills-profile-bubble" role="tab" aria-controls="pills-profile" aria-selected="false">Bubble</a>
                </li>

            </ul>
            <hr>
            <div class="tab-content" id="pills-tabContent">



                <!--Tab Task 1.1 start-->
                <div class="tab-pane fade show active" id="pills-profile1" role="tabpanel" aria-labelledby="pills-profile-tab1">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="card mb-3">
                                <div class="card-header">
                                    Task 1.1
                                </div>
                                <div class="card-body text-center" id="heat-map-container"></div>
                                <div class="card-footer small text-muted" id="heat-map-time"></div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--Tab Task 1.1 end-->
                <!--Tab Task 1.2 start-->
                <div class="tab-pane fade" id="pills-profile2" role="tabpanel" aria-labelledby="pills-profile-tab2">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="card mb-3">
                                <div class="card-header">
                                    Task 1.2
                                </div>
                                <div class="card-body text-center" id="basic-column-container"></div>
                                <div class="card-footer small text-muted" id="basic-column-time"></div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--Tab Task 1.2 end-->
                <!--Tab Task 1.3 start-->
                <div class="tab-pane fade" id="pills-profile3" role="tabpanel" aria-labelledby="pills-profile-tab3">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="card mb-3">
                                <div class="card-header">
                                    Task 1.3
                                </div>
                                <div class="card-header">
                                    <div class="input-group col-md-12 pb-4 pt-4">
                                        <select id="clusterAnalysisEvents" type="text" class="form-control">
                                            <option value="0" selected>Поїздки</option>
                                            <option value="1">Оздоровлення</option>
                                            <option value="2">Путівки</option>
                                        </select>
                                        <div class="input-group-append" style="margin-left: 10px ">
                                            <input id="clusterAnalysisClick" type="submit" value="Аналізувати" class="btn btn-success btn-block" />
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body text-center" id="bubble-container" style="padding: 0"></div>
                                <div class="card-footer small text-muted" id="bubble-time"></div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--Tab Task 1.3 end-->
                <!--Tab Task 1.4 start-->
                <div class="tab-pane fade" id="pills-profile4" role="tabpanel" aria-labelledby="pills-profile-tab4">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="card mb-3">
                                <div class="card-header">
                                    Task 1.4
                                </div>
                                <div class="card-body text-center" id="bar-container"></div>
                                <div class="card-footer small text-muted" id="bar-time"></div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--Tab Task 1.4 end-->
            
                @*-------------------------------------------------------------------------------------------------------------*@

                <!--Tab Pie Chart start-->
                <div class="tab-pane fade" id="pills-profile-pie" role="tabpanel" aria-labelledby="pills-profile-tab-pie">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="card mb-3">
                                <div class="card-header">
                                    Pie Chart
                                </div>
                                <div class="card-body">
                                    <canvas id="myPieChart" width="100" height="48"></canvas>
                                </div>
                                <div class="card-footer small text-muted">Оновлено щойно - @DateTime.Now.ToString("dd.MM.yyyy hh:mm:ss")</div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--Tab Pie Chart end-->

                <!--Tab Bar Chart start-->
                <div class="tab-pane fade" id="pills-profile-bar" role="tabpanel" aria-labelledby="pills-profile-tab-bar">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="card mb-3">
                                <div class="card-header">
                                    Bar Chart
                                </div>
                                <div class="card-body">
                                    <canvas id="myBarChart" width="100%" height="50"></canvas>
                                </div>
                                <div class="card-footer small text-muted">Оновлено щойно - @DateTime.Now.ToString("dd.MM.yyyy hh:mm:ss")</div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--Tab Bar Chart end-->

                <!--Tab Area Chart start-->
                <div class="tab-pane fade" id="pills-profile-area" role="tabpanel" aria-labelledby="pills-profile-tab-area">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="card mb-3">
                                <div class="card-header">
                                    Area Chart
                                </div>
                                <div class="card-body">
                                    <canvas id="myAreaChart" width="100%" height="30"></canvas>
                                </div>
                                <div class="card-footer small text-muted">Оновлено щойно - @DateTime.Now.ToString("dd.MM.yyyy hh:mm:ss")</div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--Tab Area Chart end-->

                <!--Tab Radar chart start-->
                <div class="tab-pane fade" id="pills-profile-radar" role="tabpanel" aria-labelledby="pills-profile-tab-radar">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="card mb-3">
                                <div class="card-header">
                                    Radar chart
                                </div>
                                <div class="card-body">
                                    <canvas id="radarChart"></canvas>
                                </div>
                                <div class="card-footer small text-muted">Оновлено щойно - @DateTime.Now.ToString("dd.MM.yyyy hh:mm:ss")</div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--Tab Radar chart end-->

                <!--Tab Line chart start-->
                <div class="tab-pane fade" id="pills-profile-line" role="tabpanel" aria-labelledby="pills-profile-tab-line">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="card mb-3">
                                <div class="card-header">
                                    Line chart
                                </div>
                                <div class="card-body">
                                    <canvas id="lineChart"></canvas>
                                </div>
                                <div class="card-footer small text-muted">Оновлено щойно - @DateTime.Now.ToString("dd.MM.yyyy hh:mm:ss")</div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--Tab Line chart end-->

                <!--Tab Bubble chart start-->
                <div class="tab-pane fade" id="pills-profile-bubble" role="tabpanel" aria-labelledby="pills-profile-tab-bubble">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="card mb-3">
                                <div class="card-header">
                                    Bubble chart
                                </div>
                                <div class="card-body">
                                    <canvas id="bubbleChart"></canvas>
                                </div>
                                <div class="card-footer small text-muted">Оновлено щойно - @DateTime.Now.ToString("dd.MM.yyyy hh:mm:ss")</div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--Tab Bubble chart end-->

            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <environment include="Development">
        <script src="~/lib/chart.js/Chart.min.js"></script>
        <script src="~/lib/high-charts.js/highcharts.min.js"></script>
        <script src="~/lib/high-charts.js/exporting.min.js"></script>
        <script src="~/lib/high-charts.js/export-data.min.js"></script>
        <script src="~/lib/high-charts.js/accessibility.min.js"></script>
        <script src="~/lib/high-charts.js/heatmap.min.js"></script>
        <script src="~/lib/codepen/colour.palette.generator.js"></script>
        
        <script src="~/js/dashboard/chart-pie-demo.js"></script>
        <script src="~/js/dashboard/chart-bar-demo.js"></script>
        <script src="~/js/dashboard/chart-area-demo.js"></script>
        <script src="~/js/dashboard/chart-radar-demo.js"></script>
        <script src="~/js/dashboard/chart-line-demo.js"></script>
        <script src="~/js/dashboard/chart-bubble-demo.js"></script>

        <script src="~/js/dashboard/first-task/correlationAnalysisBetweenTeacherAgeAndTypeOfEvent.js"></script>
        <script src="~/js/dashboard/first-task/checkingSignificanceAgeTeacherAndTypeOfEvent.js"></script>
        <script src="~/js/dashboard/first-task/clusterAnalysisAgeTeacherAndTypeOfEvent.js"></script>
        <script src="~/js/dashboard/first-task/employeeAgeGroup.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/lib/chart.js/Chart.min.js" asp-append-version="true"></script>
        <script src="~/lib/high-charts.js/highcharts.min.js" asp-append-version="true"></script>
        <script src="~/lib/high-charts.js/exporting.min.js" asp-append-version="true"></script>
        <script src="~/lib/high-charts.js/export-data.min.js" asp-append-version="true"></script>
        <script src="~/lib/high-charts.js/accessibility.min.js" asp-append-version="true"></script>
        <script src="~/lib/high-charts.js/heatmap.min.js" asp-append-version="true"></script>
        <script src="~/lib/codepen/colour.palette.generator.js" asp-append-version="true"></script>

        <script src="~/js/dashboard/chart-pie-demo.js" asp-append-version="true"></script>
        <script src="~/js/dashboard/chart-bar-demo.js" asp-append-version="true"></script>
        <script src="~/js/dashboard/chart-area-demo.js" asp-append-version="true"></script>
        <script src="~/js/dashboard/chart-radar-demo.js" asp-append-version="true"></script>
        <script src="~/js/dashboard/chart-line-demo.js" asp-append-version="true"></script>
        <script src="~/js/dashboard/chart-bubble-demo.js" asp-append-version="true"></script>
    </environment>
}