@model IEnumerable<TradeUnionCommittee.BLL.DTO.ResultSearchDTO>
@{
    ViewData["Title"] = "ResultSearch";
}


<section class="add-user container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12 add-user_block">
            <div class="list_block container-fluid">

                <div class="row align-items-center">
                    <div class="col-lg-8 col-xl-9">
                        <h2 class="top">Результат пошуку - @Model.Count()</h2>
                    </div>
                </div>

                <div class="table-responsive">

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th title="Прізвище, ім’я, по батькові">ПІБ</th>
                            <th title="Дата народження">Д/Н</th>
                            <th title="Мобільний номер">Моб.номер</th>
                            <th title="Міский номер">Міс.номер</th>
                            <th title="Структурний підрозділ">Ст.підрозділ</th>
                            <th>Кафедра</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        @{int counter = 1;}

                        @foreach (var res in Model)
                        {
                            <tr>
                                <td>@counter</td>
                                <td title="@res.FullName">@res.SurnameAndInitials</td>
                                <td>@res.BirthDate.ToString("dd.MM.yyyy")</td>
                                <td>@res.MobilePhone</td>
                                <td>@res.CityPhone</td>
                                <td title="@res.MainSubdivision">@res.MainSubdivisionAbbreviation</td>
                                <td title="@res.SubordinateSubdivision">@res.SubordinateSubdivisionAbbreviation</td>
                                <td>
                                    <a asp-controller="MainInfoEmployee" asp-action="Index" asp-route-id="@res.IdUser">Докладніше</a>
                                </td>
                            </tr>
                            counter++;
                        }
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
</section>


       
    



